﻿@model IEnumerable<OnlineShop.ViewModels.CategoryViewModel>
<head>
    <link href="~/Content/shared.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.4.1.min.js"></script>
    <style>

        @@media screen and (max-width:951px) {
            .cart-count {
                top: 85px !important;
            }
        }

        @@media screen and (max-width:931px) {
            .nav-list-items {
                margin-left: auto !important;
            }
        }

        @@media screen and (max-width:772px) {
            #bars {
                display: inline-block !important;
            }

            .nav-list-items {
                display: none;
            }

            .cart-count {
                top: 35px !important;
            }
        }

        @@media screen and (max-width:657px) {
            .cart-count {
                top: 85px !important;
            }
        }


        @@media screen and (max-width:478px) {
            #search-form {
                margin-right: 0 !important;
            }
        }

        @@media screen and (max-width:457px) {
            #search-form {
                min-width: 270px !important;
            }

            .navbar-brand {
                margin-left: auto;
                margin-right: auto;
                min-width: 130px !important;
            }

            .cart-count {
                top: 120px !important;
            }
        }

        @@media screen and (max-width:436px) {
            .navbar-brand {
                margin-left: auto;
                margin-right: auto;
            }
        }

        @@media screen and (max-width:327px) {
            .cart-count {
                top: 140px !important;
            }
        }

        @@media screen and (max-width:310px) {
            #btn-search {
                margin: 0 !important;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
        }

            ul li {
                display: block;
                position: relative;
                float: left;
            }

        li ul {
            display: none;
        }

        ul li a {
            display: block;
            padding: 1em;
            text-decoration: none;
            white-space: nowrap;
            color: #fff;
            z-index: 100;
            position: relative;
        }



        li:hover > ul {
            display: block;
            position: absolute;
        }

        li:hover li {
            float: none;
        }

            /*            li:hover a {
                background: #821130;
            }*/

            li:hover li a:hover {
                /*  background: #5b0b21;*/
            }

        .main-navigation li ul li {
            border-top: 0;
        }

        ul ul ul {
            right: 100%;
            top: 0;
        }

        ul:before,
        ul:after {
            content: " "; /* 1 */
            display: table; /* 2 */
        }

        ul:after {
            clear: both;
        }

        .cart-count {
            color: white;
            border-radius: 100%;
            border: solid;
            width: 24px;
            height: 24px;
            position: absolute;
            left: 30px;
            background-color: darkgrey;
            display: inline-block !important;
            padding: 1px;
            text-align: center;
            top: 35px;
            font-size: 13px;
        }

        .fixedheader {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 100;
        }

        #cart-icon:hover {
            color: white;
        }

        .navbar-a {
            color: white !important;
        }

            .navbar-a:hover {
                color: indianred !important;
                text-decoration: none
            }

        ul {
            margin-top: 0;
            margin-bottom: 0 !important;
        }

        nav-li-a {
            padding-right: 0 !important;
        }


        #search-form {
            min-width: 300px;
            margin-right: 100px;
            color: white;
        }

        .search-element {
            display: inline-block;
            padding: 5px 10px;
            outline: 0;
            border-width: 0 0 1px;
            border-color: white;
            background: none;
            min-width: 250px;
            color: white;
        }

            .search-element:focus {
                border-color: red;
                background: none;
            }
        /* Change the white to any color ;) */
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
        }

        #bars {
            font-size: 25px;
            display: none;
        }

        #btn-search {
            margin-right: 15px;
            background-color: white;
            border: none;
            border-radius: 5px;
            padding: 3px 10px;
            color: #2a2a2a;
        }

        ::placeholder {
            color: white;
            opacity: 1; /* Firefox */
            font-size: 11px;
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: white;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: white;
        }
    </style>

</head>

<div style="direction:rtl" class="fixedheader">
    <nav class="navbar">

        <a href="#" id="bars">
            <i class="fa fa-bars"></i>
        </a>
        <a class="navbar-brand" href="/home/index" style="text-align:right">
            اسم سایت
            <br />
            <span style="font-size:10px">فروشگاه آنلاین پوشاک</span>
        </a>


        <div class="nav-list-items">

            <ul style="margin-right:20px">
                <li>
                    <a href="#" class="navbar-a">دسته‌بندی‌ها</a>
                    <ul style="text-align:right;">
                        @foreach (var item in @Json.Decode(ViewBag.Cats))
                        {
                            <li style="width:100px">
                                <a href="#" class="navbar-a nav-li-a">@item.Title<span style="width:10px;float:left">⯇</span></a>
                                <ul>
                                    @foreach (var items in Model)
                                    {
                                        if (items.CatId == item.Id)
                                        {
                                            <li><a class="navbar-a" href="/SubCategory/items/@items.SubCatId">@items.SubCatTitle</a></li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    </ul>

                <li><a href="/home/about" class="navbar-a">درباره ما</a></li>
                <li><a href="/home/contact" class="navbar-a">تماس با ما</a></li>
            </ul>



        </div>
        <form id="search-form">
            <i class="fa fa-search" style="font-size:14px"></i>
            <input id="q-search" class="search-element" type="search" placeholder="جستجو بین  همه‌ي محصولات..." aria-label="Search">
            <button id="btn-search">جستجو</button>
        </form>
        <div id="login" style="margin-right:auto;min-width:180px;color:#fff!important">
            @if (!String.IsNullOrWhiteSpace(User.Identity.Name))
            {
                <a class="navbar-a" href="/account/userprofile">@User.Identity.Name</a>
                <span>|</span>
                <a class="navbar-a" href="/account/SignOut"> خروج</a>
            }
            else
            {
                <a class="navbar-a" href="/account/login">ورود</a>
                <span>|</span>
                <a class="navbar-a" href="/account/signup">ثبت نام</a>
            }
            <a href="/cart" id="cart-icon" class="navbar-a">
                <i class="fa fa-shopping-cart" style="font-size:x-large;margin:0 10px 0 0"></i><span id="cart-count" style="display:none"></span>
            </a>
        </div>

    </nav>
</div>
