﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/shared.css" rel="stylesheet" />
    <style>
   

        a {
            color: #fff;
        }

            a:hover {
                color: lightgrey;
                text-decoration: none
            }
    </style>
</head>

<body>
    @{ Html.RenderAction("Categories", "home"); }
    

    <div>

        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
<script type="text/javascript" src="~/scripts/main.js"></script>