﻿
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/shared.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        div#right-sidebar {
            position: fixed;
            top: 0;
            right: 0;
            width: 200px;
            height: 100%;
            background-color: #9c566c;
        }


        * html body {
            overflow: hidden;
        }

        * html div#content {
            height: 100%;
            overflow: auto;
        }

        #right-sidebar a {
            display: block;
            color: black;
            padding: 16px;
            text-decoration: none;
            text-align: right
        }

            #right-sidebar a.active {
                background-color: #5f1a30;
                color: white;
            }

            #right-sidebar a:hover:not(.active) {
                background-color: #555;
                color: white;
            }

        div.content {
            margin-right: 200px;
            padding: 1px 16px;
        }

        @@media screen and (max-width: 700px) {
            #right-sidebar {
                width: 100%;
                height: auto;
                position: relative;
            }

                #right-sidebar a {
                    float: right;
                }

            div.content {
                margin-left: 0;
            }
        }

        @@media screen and (max-width: 400px) {
            #right-sidebar a {
                text-align: center;
                float: none;
            }
        }

        #title {
            display: block;
            padding: 16px;
            text-decoration: none;
            text-align: right;
            background-color: #222222;
            color: white !important;
        }

            #title:hover {
                background-color: #222222 !important;
                color: white !important;
            }
    </style>
</head>
<body>

    <div id="right-sidebar">
        <a id="title" href="/">اسم سایت</a>
        <a id="panel" href="/admin/panel">پنل ادمین</a>
        <a id="UserManagement" href="/admin/UserManagement">مدیریت کاربران</a>
        <a id="products" href="/admin/products">مدیریت محصولات</a>
        <a id="addProduct" href="/admin/addProduct">افزودن محصول جدید</a>
        <a id="feedback" href="/admin/feedback">نظرات</a>
    </div>

    <div class="content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript" src="~/scripts/sidebar.js"></script>