﻿@model OnlineShop.Models.Tables.Item

@{
    Layout = "~/Views/Shared/Sidebar.cshtml";
}
    <head>
        <script src="~/scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/shared.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width" />
        <title>افزودن محصول</title>
        <style>
            h4 {
                text-align: right;
                margin: 20px 0;
                color: #1b1b1b
            }


            fieldset {
                background-color: #eaeaea;
                padding: 18px;
                border-radius: 5px;
                margin: 10px
            }

            select {
                width: 130px;
            }

            .row {
                margin: 10px 0;
            }

            label {
                text-align: left;
                color: #424242;
            }

            .img {
                min-width: 350px;
            }

            .color {
                width: 20px;
                height: 20px;
                display: inline-block;
                border-radius: 10px;
                margin: 10px 10px 0 35px;
            }

            .size {
                margin: 10px 10px 0 40px;
            }

            textarea {
                max-width: 100% !important;
                width: 100%
            }

            input[type=text], input[type=number], select, textarea {
                border-radius: 5px;
                border: 1px solid #efefef;
                color: #424242;
            }
        </style>
    </head>
<body>
    <h4 style="color: #424242">افزودن محصول</h4>
    <div style="direction:rtl">
        <form>
            <fieldset>
                <div class="row">
                    <label class="col-md-1 ">عنوان</label>
                    <div class="col-md-2">
                        <input type="text" id="pro-title"/>
                    </div>
                    <label class="col-md-1 ">دسته</label>
                    <div class="col-md-2">
                        <select id="cat">
                            <option value="1">زنانه</option>
                            <option value="2">مردانه</option>
                            <option value="3">بچگانه</option>
                        </select>
                    </div>
                    <label class="col-md-1 ">زیر دسته</label>
                    <div class="col-md-2 ">
                        <select id="sub-cat">
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-1">قیمت</label>
                    <div class="col-md-2">
                        <input type="number" id="price" step="500" min="10000" />
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-1">تصویر ۱</label>
                    <div class="col-md-4">
                        <input type="text" id="img1" class="img" />
                    </div>
                    <labe class="col-md-4" style="color:#041b45;font-size:11px;text-align:right;margin:5px 10px 0 0">تصویر اول به عنوان تصویر اصلی در نظر گرفته می‌شود.</labe>
                </div>
                <div class="row">
                    <label class="col-md-1">تصویر ۲</label>
                    <div class="col-md-4">
                        <input type="text" id="img2" class="img" />
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-1">تصویر ۳</label>
                    <div class="col-md-4">
                        <input type="text" id="img3" class="img" />
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-1">تصویر ۴</label>
                    <div class="col-md-4">
                        <input type="text" id="img4" class="img" />
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-1" style="margin-top:10px">رنگ‌ها</label>
                    <div id="colors"></div>
                </div>
                <div class="row">
                    <label class="col-md-1" style="margin-top:10px">سایز‌ها</label>
                    <div id="sizes"></div>
                </div>
                <div class="row">
                    <label class="col-md-1">توضیحات</label>
                    <div class="col-md-8">
                        <textarea rows="5" id="desc" ></textarea>
                    </div>

                </div>
                <div class="row" style="text-align:center;margin:5px 0 0 0">
                    <button id="add" style="margin:0 auto">ثبت</button>
                </div>

            </fieldset>
        </form>
    </div>
</body>
<script>
    var Colors = @Html.Raw(ViewBag.Colors);
    var Sizes = @Html.Raw(ViewBag.Sizes);
</script>
<script type="text/javascript" src="~/scripts/admin/add-product.js"></script>
