﻿@model OnlineShop.ViewModels.PanelViewModel

@{
    Layout = "~/Views/Shared/Sidebar.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Panel</title>
    <style>
        .box {
            padding: 10px;
            margin: 10px 0;
            text-align: center;
            font-size: 20px;
            display: block;
            background: #808080;
            color: #fff;
        }

        label {
            width: 100%;
            text-align: center;
            font-size: 24px
        }

        .num {
            /*font-family: IRANSansFaNum;*/
            font-weight: 500
        }

        h4 {
            text-align: right;
            margin: 20px 0;
            color: #1b1b1b
        }
    </style>
</head>
<body>
    <h4>پنل ادمین</h4>
    <div style="width:100%;direction:rtl">


        <div class="row">
            <div class="col-sm-3">
                <div class="box">
                    <label>کاربران تایید شده</label>
                    <label class="num">@Html.DisplayFor(model => model.VerifiedUserCount)</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box">
                    <label>کاربران در انتظار تایید</label>
                    <label class="num">@Html.DisplayFor(model => model.UnVerifiedUserCount)</label>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="box">
                    <label>نظرات در انتظار تایید</label>
                    <label class="num">@Html.DisplayFor(model => model.UnVerifiedFeedbackCount)</label>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="box">
                    <label>تعداد محصولات</label>
                    <label class="num">@Html.DisplayFor(model => model.ProductCount)</label>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
