﻿
@{
    Layout = "/views/shared/SharedLayout.cshtml";
}

<div style="width: 100%;
        text-align: center;
        margin-top: 100px;
        font-size: 12px;
        color: #262626">
    <img src="~/Images/register-success.png" style="width:150px;height:150px" />
    <span style="display:block;margin-top:20px;direction:rtl;">ثبت نام با موفقیت انجام شد.</span>
    <span style="display:block;margin-top:15px;direction:rtl;">پس از تایید ادمین می‌توانید وارد حساب کاربری خود شود.</span>
</div>
