﻿@{
    ViewBag.Title = "Signup";
    Layout = "/views/shared/SharedLayout.cshtml";
}
<head>
    <script src="~/scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/shared.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <style>

        input[type=text],
        input[type=password] {
            width: 100%;
            flex-grow: 1;
            border-radius: 5px;
            direction: rtl;
            border: 1px solid #f7f7f7;
            box-shadow: 2px 2px 4px -2px grey;
        }

        .input-row {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 15px;
        }

        .icon {
            min-width: 50px;
            text-align: center;
            padding: 12px;
            margin: 4px 0px;
            color: rgba(221, 25, 79, 0.92);
        }


        #submit {
            padding: 5px;
            margin: 8px 0;
            cursor: pointer;
            border-radius: 5px;
            width: 90%;
            color: #fafafa;
            border-radius: 5px;
            background-color: rgba(221, 25, 79, 0.92);
            box-shadow: 3px 3px 8px -4px grey;
        }

        #submit-row {
            display: flex;
            justify-content: center;
        }

        button:hover {
            opacity: 0.8;
        }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            color: rgba(221, 25, 79, 0.92);
        }


        .container {
            padding: 16px;
            display: flex;
            justify-content: space-around;
        }

        #outer-div {
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #inner-div {
            width: 400px;
            margin: 0 auto;
            padding: 7px;
            margin-top: 30px;
            box-shadow: 3px 3px 30px -10px grey;
            border: 1px solid #f7f7f7;
            border-radius: 10px;
        }

        label {
            margin: 20px 8px 0 8px;
            font-weight: normal;
        }

        h3 {
            margin-bottom: 30px;
        }
    </style>

</head>


<body>
    @using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
    {
        <div id="outer-div" width="100%">

            <div id="inner-div">
                <form id="signupForm">

                    <h3 style="margin-top:10px;font-weight:normal;font-size:large;">ثبت نام</h3>
                    <hr />
                    <div class="input-row">
                        <input id="fullname" type="text" name="fullname" required dir="rtl" placeholder=" نام کاربری">
                        <i class="fa fa-user icon"></i>
                    </div>

                    <div class="input-row">
                        <!-- <label class="col-sm-3">ایمیل</label>-->
                        <input id="email" type="text" name="email" required dir="rtl" placeholder=" پست الکترونیک">
                        <i class="fa fa-envelope icon"></i>

                    </div>

                    <div class="input-row">
                        <!-- <label class="col-sm-3">شماره موبایل</label>-->

                        <input id="mobile" type="text" name="mobile" required dir="rtl" placeholder=" شماره همراه ">
                        <i class="fa fa-phone icon"></i>


                    </div>
                    <div class="input-row">

                        <!--<label class="col-sm-3">رمز عبور</label>-->

                        <input id="password" type="password" name="password" required dir="rtl" placeholder=" رمز عبور">
                        <i class="fa fa-key icon"></i>


                    </div>
                    <div class="input-row">


                        <span><a href="#" style="color:#0000EE">قوانین و مقررات </a>را میپذیرم</span>
                        <input style=" padding: 12px; margin: 8px; background-color:aqua" type="checkbox" checked="checked" name="remember">

                    </div>
                    <div class="input-row " id="submit-row">
                        <button id="submit">ثبت نام</button>
                        </div>
                         @*<div class="container" style="background-color:#f1f1f1">
                             <a class="cancelbtn">قبلا ثبت نام کرده ام</a>
                             <span class="psw">فراموشی <a href="#" style="color:#0000EE">رمز عبور؟</a></span>
                         </div>-->*@
                </form>
            </div>
        </div>
    }

</body>

<script type="text/javascript" src="~/scripts/account/signup.js"></script>